global:
  scrape_interval:     {{ prometheus__scrape_interval }}
  evaluation_interval: {{ prometheus__evaluation_interval }}

scrape_configs:
  # Let Prometheus scrape itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          alias: prometheus

  # Scrape Node Exporters
  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for item in groups['all'] %}
        - '{{ item }}:9100'
{% endfor %}

  # Scrape HTTP Blackbox Probes per IPv4
  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    static_configs:
      - targets:
{% for item in groups['bbb'] %}
        - 'https://{{ item }}/b'
{% endfor %}
{% for item in groups['jitsi'] %}
        - 'https://{{ item }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115  # The blackbox exporter's real hostname:port.

  # Scrape HTTP Blackbox Probes per IPv6
  - job_name: 'blackbox_http6'
    metrics_path: /probe
    params:
      module: [http6_2xx]  # Look for a HTTP 200 response.
    static_configs:
      - targets:
{% for item in groups['bbb'] %}
        - 'https://{{ item }}/b'
{% endfor %}
{% for item in groups['jitsi'] %}
        - 'https://{{ item }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115  # The blackbox exporter's real hostname:port.

  # Scrape Ping Blackbox Probes per IPv4
  - job_name: 'blackbox_ping'
    metrics_path: /probe
    params:
      module: [ping]  # ping
    static_configs:
      - targets:
{% for item in groups['all'] %}
        - '{{ item }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115  # The blackbox exporter's real hostname:port.

  # Scrape Ping Blackbox Probes per IPv6
  - job_name: 'blackbox_ping6'
    metrics_path: /probe
    params:
      module: [ping6]  # ping
    static_configs:
      - targets:
{% for item in groups['all'] %}
        - '{{ item }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115  # The blackbox exporter's real hostname:port.

  # Scrape BigBlueButton
  - job_name: 'bbb'
    scheme: https
    metrics_path: /bbb-exporter
    static_configs:
      - targets:
{% for host in groups['bbb'] %}
        - '{{ host }}'
{% endfor %}
